[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
tensorflow = "*"
tflite-runtime = "*"

[dev-packages]

[requires]
python_version = "3.9"
